{% extends "base.html" %}
{% block title %}Hand Writing Practice{% endblock %}

{% block styles %}
{{super()}}
<style>
    h1   { text-align: center; font-size: 400%;}
    #canvas {
        border: 2px solid rgb(0, 0, 0);
    }
    .button {
        background-color: white; /* Green */
        border: 2px solid #4CAF50;
        color: black;
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    .button:hover {
        background-color: #4CAF50;
        color: white;
    }
</style>
{% endblock %}

{% block active %} 

<li class="nav-item">
    <a class="nav-link" href="/about/">ABOUT US</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="/handwriting/">HANDWRITING<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/speech/">SPEECH</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/games/">GAMES</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/speech/">SPEECH</a>
</li>
{% endblock %}

{% block header %}
<h1>HANDWRITING PRACTICE</h1>
{% endblock %}

{% block content %}
    <script src = "{{url_for('static', filename='canvas.js')}}"></script>
    <div style = "margin: auto; width: 50%;">
        <p style = "font-family: 'Times New Roman', Times, serif; text-align: left;">
            <span style = "color: rgb(0, 153, 255); font-size: 25px;">{{word}}</span>
            <span style = "color: darkgrey; font-size: 17px;"><br>• {{definition}}</span>
        </p>
        <canvas id = "canvas"></canvas>
        <button class = "button" onclick = "sendImage();">Go!</button>
        <button class = "button" onclick = "clearCanvas();">Clear</button>
    </div>
{% endblock %}