{% extends "base.html" %}
{% block title %}Hand Writing Practice{% endblock %}

{% block styles %}
{{super()}}
<style>
    h1   { text-align: center; font-size: 400%;}
    #canvas {
        border: 2px solid rgb(0, 0, 0);
    }
</style>
{% endblock %}

{% block active %} 

<li class="nav-item">
    <a class="nav-link" href="/about/">ABOUT US</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="/handwriting/">HANDWRITING<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/games/">GAMES</a>
</li>
{% endblock %}

{% block header %}
<h1>HANDWRITING PRACTICE</h1>
{% endblock %}

{% block content %}
    <script src = "{{url_for('static', filename='canvas.js')}}"></script>
    <div style = "margin: auto; width: 50%;">
        <p style = "color: blue; font-family: 'Times New Roman', Times, serif; font-size: 25px; text-align: center;">
            {{word}}
        </p>
        <p style = "color: grey; font-family: 'Times New Roman', Times, serif; font-size: 14px; text-align: center;">
            {{definition}}
        </p>
        <canvas id = "canvas"></canvas>
        <button onclick = "sendImage();">Go!</button>
    </div>
{% endblock %}